<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="css/styles2.css">  
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
  
  <!--  for book appointment icons  -->
  <script src="https://kit.fontawesome.com/79363ccd1c.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.1/css/fontawesome.min.css" integrity="sha384-QYIZto+st3yW+o8+5OHfT6S482Zsvz2WfOzpFSXMF9zqeLcFV0/wlZpMtyFcZALm" crossorigin="anonymous">
  

  <title>Responsive Navigation Bar</title>
</head>

<body>

  {{>navbar}}
    <section class="bookappointment">
        <div class="bookhead">
            <h1>Meet Our Expert Team</h1>
        </div>
        <div class="booking">
            <p>far far away,behind the word mountains,far from the countary Vokalia and Consonantia, there live the
                bilnd texts. Seprated they livein Bookmarksgrove right.</p>
        </div>
    <!-- </section> -->
       
<section class="landingmainsection" style="flex-direction: row-reverse;">
</div>
<div class="headingimage" style="flex-direction: row-reverse;"><h2 class="headcolor">Taylor Trelawney</h2><h3>Designer</h3>
    <p>far far away,behind the word mountains,far from the countary Vokalia and Consonantia, there live the
        bilnd texts.</p>

        
    <a href="http://www.facebook.com"><i class="social-option fa-brands fa-facebook"></i></a>
    <a href="http://www.twitter.com"><i class="social-option fa-brands fa-twitter"></i></a>
    <a href="http://www.instagram.com"><i class="social-option fa-brands fa-instagram"></i></a>
    <a href="http://www.email.com"><i class="social-option fa-solid fa-envelope"></i></a>
</div>
<div class="bookimage1">
  <img src="images/img5.jpeg" alt="" height="300px" width="300px">
</div>
  </div>
  <div class="headingimage" style="flex-direction: row-reverse;"><h2 class="headcolor">Albert willson</h2><h3>Devloper</h3>
    <p>far far away,behind the word mountains,far from the countary Vokalia and Consonantia, there live the
        bilnd texts.</p>
        <a href="http://www.facebook.com"><i class="social-option fa-brands fa-facebook"></i></a>
    <a href="http://www.twitter.com"><i class="social-option fa-brands fa-twitter"></i></a>
    <a href="http://www.instagram.com"><i class="social-option fa-brands fa-instagram"></i></a>
    <a href="http://www.email.com"><i class="social-option fa-solid fa-envelope"></i></a>
  </div>
  <div class="bookimage2">
    <img src="images/img2.jpeg" alt="" height="300px" width="300px">
</div>
</section>

<section class="landingmainsection" style="flex-direction: row-reverse;">
</div>
<div class="headingimage" style="flex-direction: row-reverse;"><h2 class="headcolor">Taylor Trelawney</h2><h3>Businessman</h3>
    <p>far far away,behind the word mountains,far from the countary Vokalia and Consonantia, there live the
        bilnd texts.</p>
        <a href="http://www.facebook.com"><i class="social-option fa-brands fa-facebook"></i></a>
    <a href="http://www.twitter.com"><i class="social-option fa-brands fa-twitter"></i></a>
    <a href="http://www.instagram.com"><i class="social-option fa-brands fa-instagram"></i></a>
    <a href="http://www.email.com"><i class="social-option fa-solid fa-envelope"></i></a>
</div>
<div class="bookimage3">
  <img src="images/img4.jpeg" alt="" height="300px" width="300px">
</div>
  </div>
  <div class="headingimage" style="flex-direction: row-reverse;"><h2 class="headcolor">Albert willson</h2><h3>Artist</h3>
<p>far far away,behind the word mountains,far from the countary Vokalia and Consonantia, there live the
        bilnd texts.</p> 
        <a href="http://www.facebook.com"><i class="social-option fa-brands fa-facebook"></i></a>
    <a href="http://www.twitter.com"><i class="social-option fa-brands fa-twitter"></i></a>
    <a href="http://www.instagram.com"><i class="social-option fa-brands fa-instagram"></i></a>
    <a href="http://www.email.com"><i class="social-option fa-solid fa-envelope"></i></a>
</div>
  <div class="bookimage4">
    <img src="images/img3.jpeg" alt="" height="300px" width="300px">
</div>
</section>
  {{>footer}}

</body>
{{>scripts}}
</html>