<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="css/styles.css">  
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">

  <title>Responsive Navigation Bar</title>
</head>

<body>
{{>navbar}}

<section class="landingmainsection">
    <div class="heading"><p class="firstheading">Why Choose Us</p>
        <p class="secondaryheading">Lorem ipsum dolor sit amet consectetur</p>
        <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio id molestiae nemo amet qui ad nesciunt cumque illum! Delectus laudantium eius fuga ad similique deserunt sit, atque soluta! Reiciendis, doloribus.</p>
        <button class="btn-circle" onclick="window.location.href='https://www.example.com'">READ MORE</button>
    </div>
    <div class="headingimage"><img class="mainimage" src="images/save.webp" alt="" srcset=""></div>

</section>
<section class="servicessection">
    <div class="firstblock">
      <img class="graduation" src="images/graduation.png" alt="">
      <p class="title"> <a style="color: white; font-size: 22px;" href="/education"> Education</a></p><p class="subtitle">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequuntur quos sed exce</p></div>
    <div class="secondblock">
      <img class="sprout" src="images/planting.png" alt="">
      <p class="title"> <a style="color: white; font-size: 22px;" href="/agritech">AgriTech</a></p><p class="subtitle">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quis, quaerat.</p></div>
    <div class="thirdblock">
      <img class="lighting" src="images/lighting.png" alt="">
      <p class="title"> <a style="color: white; font-size: 22px;" href="/energy">Energy</a></p><p class="subtitle">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quis, quaerat.</p></div>
    <div class="fourthblock">
      <img class="trash" src="images/trash.png" alt="">
      <p class="title"> <a style="color: white; font-size: 22px;" href="/waste">Waste Management</a></p><p class="subtitle">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quis, quaerat.</p></div>
</section>
<section class="aboutus">
  <div class="firstabout">
    <img class="student" src="images/student.webp" alt="">
  </div>
  <div class="secondabout">
    <h1 class="contacthead">About Us</h1>
    <h2 class="contacthead">Our Company is Here to Help You.</h2>
    <h3 class="contacthead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias enim eos vero beatae repellat quasi! Quibusdam minus est perferendis, id ipsa impedit numquam magnam dolorem?</h3>
    <button class="btn-circle" onclick="window.location.href='https://www.example.com'">READ MORE</button>
  </div>
</section>
    {{>footer}}
</body>
{{>scripts}}
<script>
var elements = document.getElementsByClassName("Home");
for (var i = 0; i < elements.length; i++) {
  elements[i].classList.add("active");
}

</script>
</html>
