<footer>
<div class="footdescription">
  <h1 class="footheading">Consulting</h1>
  <h2 class="footheading">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugiat voluptate, error necessitatibus commodi est, sequi optio impedit quod asperiores quas eaque odio, dolores eos? Modi rem consectetur accusantium officia adipisci.</h2>
</div>
<div class="footmenu">
  <h1 class="footheading1">Useful Links</h1>
  <h6 class="footheading"></h6>
  <ul>
    <li><a class="Home" href="index">Home</a></li>
    <li><a class="AboutUs" href="/aboutus">About Us</a></li>
    <li><a class="Education" href="/education">Education</a></li>
    <li><a class="AgriTech" href="/agritech">AgriTech</a></li>
    <li><a class="Energy" href="/energy">Energy</a></li>
    <li><a class="Waste" href="/waste">Waste-Management</a></li>
    <li><a class="Contact" href="/contact">Contact us</a></li>
  </ul>

</div>
<div class="footcontact">
  <h1 class="footheading1">Contact</h1>
  <h6 class="footheading"></h6>
  <h2 class="footheading">Patricia C. Amedee 4401 Waldeck Street Grapevine Nashville, TX 76051
  </h2>
  <h2 class="footheading">info@yourdomain.com
  </h2>
<h2 class="footheading">+99 (0) 101 0000 888
</h2>
</div>
<div class="Signup">  <h1 class="footheading1">Sign Up</h1>
  <h6 class="footheading"></h6>
  <h2 class="footheading">Keep me up to date with content, updates, and offers.
  </h2>
  <p><input type="email" name="EMAIL" placeholder="Enter Your Email Address" required=""></p>
  <p style="margin: 10px;"><input type="submit" value="SUBMIT"></p>
</div>  
</footer>
