  <!-- Navigation Bar -->
    <nav class="navbar">
      <a href="/" class="logo">Consulting</a>
      <div class="nav-links">
      <ul>
        <li><a class="active" href="/">Home</a></li>
        <li><a href="aboutus">About Us</a></li>
        <li><a href="education">Education</a></li>
        <li><a href="agritech">AgriTech</a></li>
        <li><a href="energy">Energy</a></li>
        <li><a href="waste">Waste-Management</a></li>
        <li><a href="contact">Contact us</a></li>
      </ul>
    </div>
    <button id="login-btn" class="btn btn-primary btn-lg">Register</button>
    <img src="images/ham.png" alt="menu hamburger" class="menu-hamburger">
    </nav>
    
