<!-- Navigation Bar -->
<nav class="navbar">
  <a href="/" class="logo">Consulting</a>
  <div class="nav-links">
    <ul>
      <li><a class="Home" href="/">Home</a></li>
      <li><a class="AboutUs" href="aboutus">About Us</a></li>
      <li><a class="Education" href="education">Education</a></li>
      <li><a class="AgriTech" href="agritech">AgriTech</a></li>
      <li><a class="Energy" href="energy">Energy</a></li>
      <li><a class="Waste" href="waste">Waste-Management</a></li>
      <li><a class="Contact hello" href="contact">Contact us</a></li>
    </ul>
  </div>
  <button id="login-btn" class="btn btn-primary btn-lg">Sign In</button>
  <img src="images/ham.png" alt="menu hamburger" class="menu-hamburger">
</nav>