/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
  }
  
  body {
    font-family: 'Nunito', sans-serif;
    line-height: 1.5;
    color: #333;
    background-color: #EDE7F68F;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  
  }
  
  /* Headings */
  h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
  }
  
  h1 {
    font-size: 36px;
  }
  
  h2 {
    font-size: 30px;
  }
  
  h3 {
    font-size: 24px;
  }
  
  h4 {
    font-size: 18px;
  }
  
  h5 {
    font-size: 14px;
  }
  
  h6 {
    font-size: 12px;
  }
  
  /* Buttons */
  button, input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover, input[type="submit"]:hover {
    background-color: #0069d9;
  }
  
  /* Form elements */
  input[type="text"], input[type="email"], input[type="password"], textarea {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 100%;
  }
  
  label {
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
  }
  
  .firstheading{
    color:#4d0aa4;
    font-size: 20px;
    font-weight: 500;
    line-height: 40px;
    letter-spacing: 1px;
    margin-bottom: 20px;
    animation: fadeInUp 2s ease-in-out;
  }
  
  .secondaryheading{
    color: #000;
    font-size: 74px;
    font-weight: 700;
    line-height: 80px;
    margin-bottom: 20px;
    max-width: 550px;
    margin-left: 4px;
    animation: fadeInUp 2s ease-in-out;
  
  }
  .description{
    color: #505050;
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    max-width: 550px;
    animation: fadeInUp 2s ease-in-out;
  }
  
  .heading{
    margin: 50px 50px;
    flex: 1;
  }
  
  .btn-circle {
    border-radius: 25px;
    font-size: 16px;
    text-align: center;
    color: white;
    padding: 10px 30px;
    background: linear-gradient(115deg, #4d0aa4ba, #ad77ff);
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    box-shadow: 3px 4px 10px 0px #4d0aa4;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 23px;
    letter-spacing: 0.5px;
    animation: fadeInUp 2s ease-in-out;
    margin-top: 20px;
  
  }
  .headingimage{
    flex: 1;
    margin-top: 45px;
  }
  .landingmainsection{
    background-color: #EDE7F68F;
    padding-top: 180px;
    padding-bottom: 50px;
    display:flex;
    flex-wrap: wrap;
  }
  
    @media (max-width: 600px) {
    .headingimage,.heading {
      flex: 1 1 100%;
    }
  }
  
  /* Navigation Bar */
  
  .navbar {
    /* position: absolute; */
    padding: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
  }
  
  .navbar a{
    color: black;
  
  }
  
  .navbar .logo{
    font-size: 2em;
    font-weight: bold;
  }
  
  .navbar .nav-links ul{
    display: flex;
  }
  
  .navbar .nav-links ul li{
    margin: 0 25px;
  }
  
  a.active{
  color: #4d0aa4;
  font-weight: 600;
  }
  
  .navbar .menu-hamburger{
    display: none;
    position: absolute;
    top: 50px;
    right:30px;
    width: 35px;
  }
  
  .mobile-menu{
    margin-left: 0;
  
  
  }
  @media screen and (max-width: 900px) {
    .navbar{
  padding: 0;
    }
  
    .navbar .logo{
      position:absolute;
      top:40px;
      left:30px
    }
  
    .navbar .menu-hamburger{
      display: block;
    }
  
  
  .nav-links{
    top: 0;
    left: 0;
    position:absolute;
    background-color:rgba(255, 255,255,0.2);
    backdrop-filter: blur(8px);
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    margin-left: -100%;
    transition: all 0.5s ease;
  }
  
  .nav-links.mobile-menu{
    margin-left: 0;
  
  
  }
  
  .nav-links ul{
    display: flex;
    flex-direction: column  ;
    align-items: center;
  }
  
  .navbar .nav-links ul li{
    margin: 25px 0;
    font-size: 1.2em;
  }
  
  }
  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }  
  .mainimage{
    width: 500px;
    height:580px;
    animation: myAnimation 2s ease-out;
  
  }
  
  @keyframes myAnimation {
    from { 
      transform: scale(0.5);
    }
    to { 
      transform: scale(1);
    }
  }grad
  
  .title{
    font-size: 22px;
    font-weight: 500;
    line-height: 400px;
    letter-spacing: 10px;
    margin-bottom: 20px;
  }
  
  .subtitle{
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    margin-left: 0;
    text-align: left  ;
    padding-top: 10px;
    padding-bottom: 10px;
  
  }
  .firstblock,.secondblock,.thirdblock, .fourthblock{
    background: linear-gradient(180deg, #ad77ff, #4d0aa4);
    box-shadow: 0px 3px 20px 0px #4d0aa4;
    border-radius: 15px;
    padding: 2% 3%;
    max-width: 270px;
    margin: 0 15px;
    color: #fff;
    flex: 1;
  }
  
  .servicessection{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 65px;
    margin-bottom: 100px;
  
  }
  /**Footer**/
  footer {
    background-color: lightgray;
    padding: 1em;
    text-align: center;
    margin-top: 50px;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  /* 
  nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    margin: 0 1em;
  }
  
  nav a {
    color: black;
    text-decoration: none;
  }
  
  p {
    margin: 0;
  } */
      
  .graduation{
  width: 50px;
  height: 50px;
  margin-bottom: 20px;
  }
  
  .sprout{
    width: 50px;
  height: 50px;
  margin-bottom: 20px;
  
  }
  
  .lighting{
    width: 50px;
    height: 50px;
    margin-bottom: 20px;
  
  }
  
  .trash{
    width: 50px;
    height: 50px;  
    margin-bottom: 20px;
  
  }
  .student{
    margin-left: 50px;
  }
  
  .aboutus{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin-bottom: 40px;
  }
  
  h1.contacthead{
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
  letter-spacing: 4px;
  margin-bottom: 25px;
  color: black;}
  
  h2.contacthead{
    font-size: 50px;
    font-weight: 700;
    line-height: 65px;
    margin-bottom: 25px;
    max-width: 450px;
    color:#4d0aa4;
  }
  
  h3.contacthead{
    font-size: 16px;
    color:#505050;
    line-height: 28px;
    max-width: 450px;
  }
  
  .secondabout{
    margin-right: 50px;
    margin-top: 80px;
  }
  
  footer{
    display: flex;
    text-align: left;
    justify-content: space-between;
    margin: 40px 0;
    padding: 30px 50px;
    background-color:#EDE7F68F ;
    margin-top: auto;
  
  }
  
  h2.footheading{
    max-width: 250px;
    font-size: 16px;
    font-weight: 300;
  text-align: left;
  margin-top: 3.200px;
  margin-bottom: 27.200px;
  }
  
  h1.footheading1{
    font-size: 25px;
    padding-bottom: 10px;
  }
  
  h6.footheading{
  width: 38px;
  height: 3px;
  background-color: #4d0aa4;
  margin-bottom: 20px;
  }
  
  .footmenu  ul li a{
    margin: 10px 0;
  
  }
  
  #Form
  
  .mainform{
    text-align: center;
    display: flex;
    top:12px;
    right: 25px;
  }